/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/*css reset - end*/

/* 动画 */
@keyframes opacityOut {
    0% {
        opacity: 90%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 10%;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* 动画 - end */
/* common */
.w100 {
    width: 100%
}

.w50 {
    width: 50%
}

.flex {
    display: flex
}

.flex-center {
    align-items: center;
}

.flex-shrink {
    flex-shrink: 0;
}

.rota90 {
    transform: rotate(90deg);
}

.rota180 {
    transform: rotate(180deg);
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

/*多功能容器*/
.MF-box {
}
.MF-box .space:not(:first-child) {
    padding-left:1em;
}

.opacityOut {
    /*opacity: 40%;*/
    animation: opacityOut .45s;
}

.opacityIn {
    animation: opacityIn var(--animationSpeed);
}

/* common - end */


/* theme */
@font-face {
    font-family: 'XFont';
    src: url("../assets/fonts/W_Rg.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


/*@font-face {*/
/*  font-family: 'W_Rg';*/
/*  src: url("../assets/fonts/W_Rg.woff2") format("woff2");*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/
/*@font-face {*/
/*  font-family: 'W_Rg';*/
/*  src: url("../assets/fonts/W_Bd.woff2") format("woff2");*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/
/*@font-face {*/
/*  font-family: 'W_Rg';*/
/*  src: url("../assets/fonts/W_MD.woff2") format("woff2");*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*}*/

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --gray-1: 247, 248, 250;
    --gray-2: 242, 243, 245;
    --gray-3: 229, 230, 235;
    --gray-4: 201, 205, 212;
    --gray-5: 169, 174, 184;
    --gray-6: 134, 144, 156;
    --gray-7: 107, 119, 133;
    --gray-8: 78, 89, 105;
    --gray-9: 39, 46, 59;
    --gray-10: 29, 33, 41;
    --fontsize: 14px;

    /*主题*/
    --theme: 38, 123, 201;
    --theme-hover: rgba(var(--theme, .8));
    --theme-bgcolor: #fff;
    --theme-color: rgb(var(--theme));
    --theme-border: rgb(var(--gray-3));

    --theme-selected: #E3F4FC; /* 组件选中颜色 */
    --theme-text: var(--gray-8); /*文本颜色*/
    --theme-menu: 0, 21, 41; /*菜单背景色*/
    --theme-menu-child: #0C2135; /*菜单背景色*/
    --header-height: 48px;
    --header-tab-height: 30px;
    --FormElementHeight: 34px;
    --FlexGridSpacing:20px;

    /*动画速度*/
    --animationSpeed: .3s;
}

/* input placeholder start */
::-webkit-input-placeholder {
    color: rgb(var(--gray-6));
    font-style: italic;
    font-size: 0.9em;
}

::-ms-input-placeholder {
    color: rgb(var(--gray-6));
    font-style: italic;
    font-size: 0.9em;
}

::-moz-placeholder {
    color: rgb(var(--gray-6));
    font-style: italic;
    font-size: 0.9em;
}

/* input placeholder end */

/* scroll start */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    min-height: 25px;
    min-width: 25px;
    border: 1px solid #fafafa;
    border-radius: 99px;
}

::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border: 1px solid #efefef;
}

/* scroll end */
body {
    min-height: 100vh;
    color: var(--theme-text);
    background: var(--theme-bgcolor);
    line-height: 1.6;
    transition: color 0.5s, background-color var(--animationSpeed);
    font-family: "XFont", Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*@media (prefers-color-scheme: dark) {  -- 跟随主题 */
.dark {


}

/* theme - end */


