
button, textarea, select {
  outline: none;
  border-radius: 2px;
  padding: 0.3em 0.6em;
  border: 1px solid var(--theme-border);
  font-size: var(--fontsize);
  transition: all .3s;
  color: rgba(0, 0, 0, 0.75);
}

input:hover, button:hover, textarea:hover, select:hover {

}

/*input*/
.x-input {
  border-radius: 2px;
  padding: 0.4em 0.6em;
  border: 1px solid var(--theme-border);
  font-size: var(--fontsize);

  input {
    border: none;
    outline: none;
    height: 24px;
    line-height: 24px;
  }

  background: transparent;
  line-height: 1.6em;

  &:hover {
    outline: none;
  }

  &:focus {
    border-color: var(--theme-hover);
    box-shadow: 0 0 3px 0 var(--theme-hover);
  }
}

/*button*/
button {
  line-height: 1.6em;
  background-color: rgb(var(--gray-2));
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid transparent;
  font-weight: 500;

  &:hover {
    border-color: rgb(var(--gray-3));
    box-shadow: 1px 1px #fff;
  }
}

/*select*/
select {
  padding: 0.5em 0.6em;

  &:hover {

  }
}

